* {
    font-family: Raleway;
    color: #373A42;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.25rem;
}

#title {
    margin: 0 3rem;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: 5rem;
    padding: 3rem 0;
    border-right: 3px solid #373A42;
    background-color: #e4e4e4;
    z-index: 1;
}

#sidebar:after {
    position: absolute;
    content: "\f086";
    font-family: FontAwesome;
    font-size: 10rem;
    color: #d3d3d3;
    top: 50%;
    left: 50%;
    margin-left: -5rem;
    z-index: -1;
    overflow: hidden;
}

#sidebar_title_container {
    position: relative;
    margin: 3rem 0 1.5rem 0;
    height: 3rem;
    width: 100%;
    line-height: 3rem;
    background-color: #373A42;
}

.sidebar_title {
    display: inline;
    margin: 0 1rem 0 3rem;
    color: #717580;
}

#chat_room {
    position: relative;
    top: 0;
    margin-top: 5rem;
    margin-left: 18rem;
    padding: 1rem 2rem;
}

.active_room_user {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.active_room_user:before {
    display: inline-block;
    position: absolute;
    font-family: FontAwesome;
    font-size: 17px;
    content: "\f007";
    margin-left: -20px;
}

.active_room_message_box {
    font-size: 0.8rem;
}

.user_messages {
    display: inline;
    color: #1A5AB6;
    font-weight: 600;
}

.message_timestamp {
    position: relative;
    float: right;
}

#title, #sidebar_title {
    display: inline;
}

div.room_table {
    width: 100%;
}

.room_row {
    display: block;
    margin-right: 1rem;
    width: 100%;
    cursor: pointer;
}

.room_row:hover {
    background-color: orange;
}

.room_names {
    display: inline-block;
    position: relative;
    margin-left: 3rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    z-index: 3;
}

.room_names:hover {
    display: inline-block;
    position: relative;
    background-color: orange;
}

.modal {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 20rem;
    margin-left: -10rem;
    text-align: center;
    background-color: #88CC88;
    border: 3px solid #004400;
    z-index: 1000;
}

.modal_header, .modal_body, .modal_buttons {
    margin: 2rem;
}

.btn {
    border-style: solid;
    border-radius: 3px;
}

.new-room-btn {
    float: right;
    font-size: 1.25rem;
    width: 3rem;
    border-left: 3px solid #717580;
    text-align: center;
    cursor: pointer;
}

.new-room-btn i {
    color: #717580;
}

.new-room-btn:hover {
    background-color: #717580;
}

.new-room-btn:hover > i {
    color: #fff;
}

.btn-primary {
    background-color: #9575AB;
}

.btn-cancel {
    background-color: #D46A6A;
}