<form ng-submit="usermodal.submit()" name="usernameInput" class="modal" novalidate>
    <div class="modal_header">
        <h3 class="modal_title">Create a Username</h3>
    </div>
    <div class="modal_body">
        <p>Your username must be <span class="bold_italic">between 4 and 20</span> characters long.</p>
        <input type="text" name="input" class="usernameInput" ng-model="usermodal.username" ng-minlength="4" ng-maxlength="20" required>
    </div>
    <div class="modal_buttons">
        <input class="primary_btn" type="submit" value="OK">
    </div>
</form>